body {
    font-family: Arial, sans-serif;
    background-image: url(uad.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    text-align: center;
    color: #333;
}

.form {

    width: 40%;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

label {
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    border: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"], input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}